<mat-nav-list  color="primary">

    <a mat-list-item  routerLink="/openpo"  (click)="onsidenavClose()" class="menu-button">
        <mat-icon>home</mat-icon><span >Open production Orders</span>
    </a>
    <a mat-list-item routerLink="/incoming"  (click)="onsidenavClose()" class="menu-button">
        <mat-icon>info</mat-icon><span >Incoming deliveries</span>
    </a>
    <a mat-list-item routerLink="/invoice"  (click)="onsidenavClose()" class="menu-button">
        <mat-icon>info</mat-icon><span >Invoices</span>
    </a>
    <a mat-list-item routerLink="/openso"  (click)="onsidenavClose()" class="menu-button">
        <mat-icon>info</mat-icon><span >Open sales orderek</span>
    </a>
    <a mat-list-item routerLink="/stock"  (click)="onsidenavClose()" class="menu-button">
        <mat-icon>info</mat-icon><span >Stock report</span>
    </a>



</mat-nav-list>
