<table mat-table [dataSource]="dataSource"  matSort  class="mat-elevation-z8" >
  <!-- <ng-container matColumnDef="Anyagbiz">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by number"> Anyagbiz# </th>
      <td mat-cell *matCellDef="let element" [appHighlight]="[textSearch,element.Anyagbiz]"></td>
  </ng-container> -->

    <ng-container matColumnDef="Konyveles_ideje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell class="aligntoright vastag" [matTooltip]="'Bizonylatszám: '+element.Anyagbiz"  *matCellDef="let element" [appHighlight]="[textSearch,this.listservice.datumpont(element.Konyveles_ideje)]">  </td>
    </ng-container>

    <ng-container matColumnDef="Anyagszam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Material#</th>
        <td mat-cell class="aligntoright" *matCellDef="let element" [appHighlight]="[textSearch,this.listservice.wo_zero(element.Anyagszam)]"></td>
    </ng-container>

    <ng-container matColumnDef="Acsoport">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
        <td mat-cell [ngStyle]="{'white-space': 'nowrap', 'font-size': 'small'}" *matCellDef="let element" [appHighlight]="[textSearch,element.Acsoport]">  </td>
    </ng-container>

    <ng-container matColumnDef="Megnev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell class="vastag" *matCellDef="let element" [appHighlight]="[textSearch,element.Megnev]">  </td>
    </ng-container>

    <ng-container matColumnDef="Menny">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity </th>
        <td mat-cell class="aligntoright vastag" *matCellDef="let element" [appHighlight]="[textSearch,element.Menny | number:'1.0-0'| removecomma ]">  </td>
    </ng-container>

    <ng-container matColumnDef="ME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BUM</th>
        <td mat-cell *matCellDef="let element" [appHighlight]="[textSearch,element.ME]">  </td>
    </ng-container>

    <ng-container matColumnDef="Rendeles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order#</th>
        <td mat-cell class="aligntoright" *matCellDef="let element" [appHighlight]="[textSearch,element.Rendeles]">  </td>
    </ng-container>

    <ng-container matColumnDef="Szallitokod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor#</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'white-space': 'nowrap', 'font-size': 'small'}" [appHighlight]="[textSearch,this.listservice.wo_zero(element.Szallitokod)]">  </td>
    </ng-container>

    <ng-container matColumnDef="Szallitonev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'white-space': 'nowrap', 'font-size': 'small'}" [appHighlight]="[textSearch,element.Szallitonev]">  </td>
    </ng-container>

    <ng-container matColumnDef="Ertek">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td mat-cell class="aligntoright" *matCellDef="let element" [ngStyle]="{'white-space': 'nowrap'}" [appHighlight]="[textSearch,element.Ertek | number:'1.0-0'| removecomma]">  </td>
    </ng-container>

    <ng-container matColumnDef="Penznem">
        <th mat-header-cell *matHeaderCellDef>Curr.</th>
        <td mat-cell class="aligntoright" *matCellDef="let element" [appHighlight]="[textSearch,element.Penznem]">  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

</table>
<mat-icon [class.rotate]="loading" *ngIf="loading">refresh</mat-icon>
