<mat-toolbar >
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="example-spacer">{{fejlec}}</span>
appearance="fill"
   -->
    <span class="example-spacer" >{{title}}
      <span [hidden]="showCalendar" >
        <mat-form-field >
        <mat-label>Hónap</mat-label>
        <input matInput readonly
                        [(ngModel)]="monthAndYear"
                        [matDatepicker]="picker"
                        (dateChange)="emitDateChange($event)" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker
                        [startView]="'year'"
                        (monthSelected)="monthChanged($event, picker)"
                        panelClass="example-month-picker"
                        >
        </mat-datepicker>
      </mat-form-field>
      </span>

    </span>

    <mat-form-field class="matinputclass">
        <mat-label>Keresés</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="szöveg" #input>
      </mat-form-field>
</mat-toolbar>
